////
/// Base Colours
/// @group constant
////

////
/// Avoid using rules from the constant directory directly
////

/// @type Color
$color-nearblack: #0c0c0e !default;
/// @type Color
$color-red: #a60f04 !default;
/// @type Color
$color-orenge: #ef530a !default;
/// @type Color
$color-orange-bright: #f88118 !default;
/// @type Color
$color-green-leaf:#6fba4f !default;
/// @type Color
$color-green-fresh: #0f720f !default;
/// @type Color
$color-green-earth: #32380f !default;
/// @type Color
$color-green-mint: #a5d97a !default;
/// @type Color
$color-green-grass:#517b21 !default;
/// @type Color
$color-green-happy: #afe795 !default;
/// @type Color
$color-green-toy: #4a9616 !default;
/// @type Color
$color-savannah: #dac455 !default;
